@media only screen and (max-width: 700px) {
    div#topDiv {
        margin-top: 200px;
        margin-bottom: 50px;
    }
}

.ui.segment {
  border-radius: 0!important;
}

div#onlyTopDiv {
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer.segment {
    padding: 5em 0;
}

.fives span.red {
  color: #FF0000;
  font-weight: bold;
}

.fivesSegment span {
  font-size: 2.2rem;
}

.fives span.noColor {
  color: #D6D6D6;
}

.weekImage {
  padding: 5px;
}

.totalShow {
  display: inline-block;
  color: #FF0000;  
}

.totalHide {
  display: none;
}
